<header>

  <div class="container" id="reg-box">
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="field form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "form-control" %>
        <small id="emailHelp" class="form-text text-muted">Using your real name is optional. You should use something identifiable</small>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary mb-2" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</header>


