<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @word.user %>
</p>

<p>
  <strong>Body:</strong>
  <%= @word.body %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
