// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), image-url("hero.jpg");
  background-size: cover;
}
.lead, h2 {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

#reg-box {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

#share {
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #555555;
}