!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Somebody has said something about you
    %p
      Anonymous says,
      %br/
      %span=@word.body
